.dark-high-contrast {
  --md-sys-color-primary: rgb(170 255 254);
  --md-sys-color-surface-tint: rgb(128 213 212);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(124 209 208);
  --md-sys-color-on-primary-container: rgb(0 14 14);
  --md-sys-color-secondary: rgb(217 246 245);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(173 200 199);
  --md-sys-color-on-secondary-container: rgb(0 14 14);
  --md-sys-color-tertiary: rgb(233 240 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(175 196 228);
  --md-sys-color-on-tertiary-container: rgb(0 12 28);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(14 21 20);
  --md-sys-color-on-background: rgb(221 228 227);
  --md-sys-color-surface: rgb(14 21 20);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(63 73 72);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(232 242 241);
  --md-sys-color-outline-variant: rgb(186 197 196);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(221 228 227);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 81 81);
  --md-sys-color-primary-fixed: rgb(156 241 240);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(128 213 212);
  --md-sys-color-on-primary-fixed-variant: rgb(0 20 20);
  --md-sys-color-secondary-fixed: rgb(204 232 231);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(176 204 203);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 20 20);
  --md-sys-color-tertiary-fixed: rgb(211 228 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(179 200 232);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 18 38);
  --md-sys-color-surface-dim: rgb(14 21 20);
  --md-sys-color-surface-bright: rgb(75 81 81);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(26 33 33);
  --md-sys-color-surface-container: rgb(43 50 49);
  --md-sys-color-surface-container-high: rgb(54 61 60);
  --md-sys-color-surface-container-highest: rgb(65 72 72);
}
