.light-medium-contrast {
  --md-sys-color-primary: rgb(0 61 61);
  --md-sys-color-surface-tint: rgb(0 106 106);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(22 121 121);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(33 58 58);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(88 114 113);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(34 55 81);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(90 110 139);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(244 251 250);
  --md-sys-color-on-background: rgb(22 29 29);
  --md-sys-color-surface: rgb(244 251 250);
  --md-sys-color-on-surface: rgb(12 18 18);
  --md-sys-color-surface-variant: rgb(218 229 228);
  --md-sys-color-on-surface-variant: rgb(46 56 56);
  --md-sys-color-outline: rgb(74 84 84);
  --md-sys-color-outline-variant: rgb(101 111 111);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(43 50 49);
  --md-sys-color-inverse-on-surface: rgb(236 242 241);
  --md-sys-color-inverse-primary: rgb(128 213 212);
  --md-sys-color-primary-fixed: rgb(22 121 121);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(0 95 95);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(88 114 113);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(64 89 89);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(90 110 139);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(65 86 114);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(193 200 199);
  --md-sys-color-surface-bright: rgb(244 251 250);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 244);
  --md-sys-color-surface-container: rgb(227 233 233);
  --md-sys-color-surface-container-high: rgb(216 222 221);
  --md-sys-color-surface-container-highest: rgb(204 211 210);
}
